form {
    display: flex;
    flex-direction: column;
    div {
        margin-bottom: 20px;
        label {
            padding-right: 20px;
            width: 100px;
        }
    }
    button {
        width: 150px;
        text-align: center;
        justify-content: center;
    }
}